@import "tailwindcss";


@font-face {
  font-family:" Gothic";
  src: url("/fonts/gothic_ultra_ot.otf") format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oldstandard";
  src: url("/fonts/OldStandardTTRegular.ttf") format('truetype');
  font-display: swap;
}

@font-face {
  font-family:"Lora";
  src: url("/fonts/LoraRegular.ttf") format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family:"UnifrakturCook";
  src: url("/fonts/UnifrakturCookBold.ttf") format('truetype');
  font-weight: 700;
  font-display: swap;
}


@theme{

  --font-gothic : "Gothic" serif;
  --font-uniFract:"UnifrakturCook", cursive;
  --font-oldstandard :"Oldstandard" san-serif;
  --font-lora:"Lora", serif;
  --color-navlink:#efece7;
  --color-tip:#66666;
  --color-texts:#44444;
  --color-border:#5c5c5c;
  --color-nav:#1c1c1c;
  --color-bg:#e0c9ae;
  --color-middleline:#b5895a;

}

body{
  overflow-x: hidden;
height: 100%;
}

h1{
  font-family: "Gothic" ;
}
p{
  font-family: "lora";

}
h2{
  font-family: "Oldstandard";

}

ol,
ul{
  font-family: "lora";
  font-weight: bold;
  font-size: 1.5rem;
  line-height:130%;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

